#container {
	background-image: url("../images/mario3.jpg");
	height: 700px;
}

h1 {
	font-size: 50px;
	color: gold;
	text-align: center;
}

h2 {
	font-size: 30px;
	color: blue;
	text-align: center;
}

.mainArea {
	height: 500px;
	width: 100%;
	margin-top: 50px;
}

.questionSpace {
	height: 400px;
	width: 45%;
	border: 5px solid red;
	margin-left: 50px;
	
}

.choicesSpace {
	height: 400px;
	width: 45%;
	border: 5px solid red;
	margin-left: 50px;
	position: right;
	
}

.show-number {
	color: green;
	font-size: 50px;
}

.questions {
	font-size: 40px;
	color: white;
}

.choices {
	font-size: 40px;
	color: white;
}

.start { position: absolute;
	right: 47%;
}

h3 {
	font-family: "Unica One";
	color: white;
	font-size: 28px;
	text-align: center;
}